<div class="row">
  <div class="col-12">
    <div class="position-relative">
      <table class="table  ">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Items</th>
          <th>Bought Already</th>
        </tr>
        </thead>
        <tbody>
        <% @event.users.each do |user| %>
          <tr>
            <th scope="row"><%= link_to user.name || 'NoName', user_gifts_path(user.id, event_id: @event.id)  %></th>
            <td scope="row"><%= rand(100) %> gifts</td>
            <td><%= rand(20) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>